.registerPageContainer {
    margin-top: 8rem;
}

.form-container {
    width: 60%;
    border: 2px solid orange;
    margin: auto;
    border-radius: 1rem;

}

#name-container input {
    width: 45%;
}

#name-container {
    display: flex;
    justify-content: space-between;
}


.inp-container input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid orange;
    width: 100%;
    color: orange;
}

.inp-container input::placeholder {
    color: orange;
}

.inp-container input:focus {
    outline: none;
}

.inp-container {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.search-container {
    width: 50%;
    margin: auto;
    margin-top: 7rem;
    position: relative;
}

.search-container input {
    width: 100%;
    border-radius: 1.5rem;
    padding: 0.7rem 2rem;
    border: 2px solid orange;
    color: orange;
}

.search-container input:focus {
    outline: none;
}

.search-container i {
    position: absolute;
    font-size: 1.5rem;
    color: orange;
    top: 0.8rem;
    right: 2rem;
}